<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="#app">
        <div class="form-group">
            <label for="email">Your Email Address</label>
            <input type="text" id="email" class="form-control" v-model="userData.email">
        </div><br>

        <div class="form-group">
            <label for="password">Enter Password</label>
            <input type="password" id="password" class="form-control" v-model.lazy="userData.password">
        </div><br>

        <div class="form-group">
            <label for="message">Your Message</label>
            <textarea id="message" rows="5" class="form-control" v-model="message"></textarea>
        </div><br>

        <label for="male">
            <input type="radio" id="male" value="Male" v-model="radioBoxOption"> Male
        </label>
        <label for="female">
            <input type="radio" id="female" value="Female" v-model="radioBoxOption"> Female
        </label>
        <br>
        <button class="btn btn-primary" @click.prevent="submitted">Submit!
        </button>

        <div class="card" v-if="isSubmitted">
            <div class="card-body">
                <h4 class="card-title">Form Data</h4>
                <p>Mail: <b>{{ userData.email }}</b></p>
                <p>Password: <b>{{ userData.password }}</b></p>
                <p style="white-space: pre">Message: <b>{{ message }}</b></p>
                <p>Gender: <b>{{ radioBoxOption }}</b></p>
            </div>
        </div>
    </div>

    <script>
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    userData: {
                        email: '',
                        password: '',
                    },
                    message: 'Describe your review...',
                    radioBoxOption: 'Male',
                    isSubmitted: false
                }
            },
            methods: {
                submitted() {
                    this.isSubmitted = true;
                }
            }
        })
    </script>
</body>

</html>