<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="components-demo">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <p>Vue rule: Each instance can maintain an independent copy of the returned data object:</p>
    </div><br>

    <div id="components-demo2">
        <p>Otherwise</p>
        <button-counter></button-counter>
        <button-counter></button-counter>
    </div>

    <script src="app.component.js"></script>

</body>

</html>